@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Petrona&family=Questrial&display=swap');

:root{
    @apply bg-theme-black selection:bg-theme-gold/30 
}
body{
    @apply overflow-x-hidden overflow-y-auto bg-[url(/media/bgTexture.png)] bg-cover bg-center
    scroll-smooth bg-no-repeat
}
#root{
    @apply min-h-fit 
}

.glass_bg{
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.05) 0%, rgba(223, 223, 223, 0.02) 97.8%);
    background: -moz-linear-gradient(104deg, rgba(255, 255, 255, 0.05) 0%, rgba(223, 223, 223, 0.02) 97.8%);
    background: -webkit-linear-gradient(104deg, rgba(255, 255, 255, 0.05) 0%, rgba(223, 223, 223, 0.02) 97.8%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}
.glass_bg_two{
    background: linear-gradient(104deg, rgba(20, 20, 20, 0.51) 0%, rgba(20, 20, 20, 0.31) 97.8%);
    background: -moz-linear-gradient(104deg, rgba(20, 20, 20, 0.51) 0%, rgba(20, 20, 20, 0.31) 97.8%);
    background: -webkit-linear-gradient(104deg, rgba(20, 20, 20, 0.51) 0%, rgba(20, 20, 20, 0.31) 97.8%);
    backdrop-filter: blur(10px);
}

.header_gradient{
    @apply bg-gradient-to-b from-theme-black via-theme-black to-theme-black/10

}


.testimonialsSlider::part(container){
    @apply overflow-visible
}
.testimonialsSlider::part(pagination){
    @apply  -bottom-10 sm:hidden
}
.testimonialsSlider::part(bullet){
    @apply bg-theme-gold
}
.testimonialsSlider::part(bullet-active){
    @apply bg-theme-gold 
}
